/*
ba-ka CSS v1 by datoyacx
*/

body {
	background: #EEEEEE;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	font-family: "IBM Plex Mono", monospace;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	width: 800px;
	margin: 0 auto;
	border-left: 1px solid #222222;
	border-right: 1px solid #222222;
}

.content {
	margin: 15px;
	display: inline-flex;
}

.content-left {
	width: 630px;
	display: inline-block;
}

.content-right {
	margin-left: 15px;
	width: 125px;
	display: inline-block;
}

.content .content-left .content-title {
	font-size: 18px;
	font-weight: 700;
}

.content .content-left .content-list-user {
	list-style: none;
	display: block;
}

.content .content-left .content-list-user li {
	display: inline-flex;
	width: 282px;
}

.content .content-left .content-list-user li a {
	display: flex;
}

.content .content-left .content-list-user li a .image {
	width: 100px;
}

.content .content-left .content-list-user li a .information {
	width: 182px;
}

.content .content-left .content-list-user li a .image img {
	padding: 0;
	margin: 0;
}

.content .content-left .content-list-user li a .information .username {
	padding: 0;
	margin: 0;
}

.content .content-left .content-list-user li a .information .nickname {
	width: 167px;
	background: #222222;
	color: #ffffff;
	padding-left: 15px;
	display: block;
	padding: 0;
	margin: 0;
}

.content .content-left .content-list-user li a, .content .content-left .content-list-user li a:link, .content .content-left .content-list-user li a:visited {
	text-decoration: none;
	color: #222222;
}

.content .content-left .content-list-user li a:hover {
	text-decoration: underline;
	color: #222222;
}

header {
	background: #222222;
	color: #ffffff;
}

header .header-menu-top {
	list-style: none;
}

header .header-menu-top li {
	display: inline;
	margin-left: 15px;
}

header .header-menu-top li, header .header-menu-top li a, header .header-menu-top li a:link, header .header-menu-top li a:visited {
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
}

header .header-menu-top li a:hover {
	text-decoration: underline;
}

header .header-middle {
	position: relative;
}

header .header-middle .header-middle-title {
	position: absolute;
	right: 20px;
	bottom: 10px;
	font-size: 40px;
	font-weight: 700;
	text-shadow: 4px 3px 6px #222222;
}

header .header-menu-bottom {
	list-style: none;
}

header .header-menu-bottom li {
	display: inline;
	margin-left: 15px;
}

header .header-menu-bottom li a, header .header-menu-bottom li a:link, header .header-menu-bottom li a:visited {
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
}

header .header-menu-bottom li a:hover {
	text-decoration: underline;
}

footer {
	background: #222222;
	color: #ffffff;
}

footer a, footer a:link, footer a:visited {
	color: #ffffff;
	text-decoration: none;
}

footer a:hover {
	color: #ffffff;
	text-decoration: underline;
}

footer .footer-top {
	text-align: center;
}

footer .footer-top .footer-select-lang {
	list-style: none;
}

footer .footer-top .footer-select-lang li {
	display: inline;
}

footer .footer-bottom {
	text-align: center;
}


.modal {
  width: 500px;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px 3px;
  transition: all 0.2s ease-in;
  font-family: Helvetica, Arial, sans-serif;
}
.fadeIn-enter {
  opacity: 0;
}

.fadeIn-leave-active {
  opacity: 0;
  transition: all 0.2s step-end;
}

.fadeIn-enter .modal,
.fadeIn-leave-active.modal {
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 999;
  transition: opacity 0.2s ease;
}

.center-cropped {
    width: 100px;
    height: 100px;
    overflow:hidden;
}
.center-cropped img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.center-cropped.profile-e {
    width: 123px;
    height: 123px;
    border: 1px solid #222;
}

.content-left a {
  color: #222222;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.content-left a:hover {
  text-decoration: none;
  text-decoration: underline;
}

.content-right h4 {
  padding: 0;
  margin: 0;
}

.content-right h4 a, .content-right h4 a:hover {
  color: #222222;
  text-decoration: none;
}

.content-right-menu {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
}

.content-right-menu li {
  width: 100%;
  margin-bottom: 10px;
}

.content-right-menu li a{
  display: block;
  padding: 0 0 0 10px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background: #222222;
  width: 100%;
}

.content-right-menu li a:hover {
  text-decoration: underline;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
}

.lmao-list {
  width: 210px;
  height: 210px;
}

.lmao-list2 {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 40px;
}

.flip-card {
  background-color: transparent;
  width: 210px;
  height: 210px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 210px;
  height: 210px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #222222;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h1 {
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
}

.flip-card-back p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.fit-form {
  width: 100%;
}
.fit-form input[type="text"], .fit-form select, textarea {
  width: 100%;
}

.fit-form textarea {
  min-width: 100%;
  max-width:fit-content;
  min-height: 120px;
}